/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #f45050;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-large);
  margin: 0;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  text-align: center;
}

#section {
  width: 100%;
  padding: 10px;
}

.header {
  color: var(--color-start);
}

.hint_box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px auto;
  font-weight: lighter;
  font-style: italic;
  max-width: fit-content;
}

.letter {
  color: transparent;
}

#phrase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#phrase li {
  background-color: var(--color-keys-light);
  border-radius: 5px;
  margin: 2px;
  width: 35px;
  height: 35px;
  margin-top: auto;
  align-content: center;
}

#phrase ul {
  margin: 10px 10px;
}

.key {
  font-size: var(--font-size-medium);
  vertical-align: text-bottom;
  height: 45px;
  width: 45px;
  font-size: 1rem;
  background: var(--color-neutral-light);
  border-radius: 5px;
  align-content: space-around;
  cursor: pointer;
}

ul.keyrow {
  display: block;
  margin: 20px 0px;
}

.space {
  width: 45px;
}

.present,
.punctuation {
  color: #fff;
  background-color: var(--color-win) !important;
  transition-duration: .5s;
}

.chosen {
  background: var(--color-keys);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: var(--color-keys-light);
  animation-name: pop;
  animation-duration: .2s;
  pointer-events: none;
}


/* .chosen & keyframes (named "pop") is the animation used for chosen letters */
@keyframes pop {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

@keyframes modalPop {
  0% {transform: scale(.8); opacity: 1;}
  50% {transform: scale(1.2); opacity: 1;}
  100% {transform: scale(1); opacity: 1;}
}

#btn_reset {
  display: block;
  padding: 5px 15px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  cursor: pointer;
}

/* Overlay */

#overlay,
#modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  color: #FFF;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--color-win);
}


#modal h4 {
  font-size: 2rem;
}

#modal {
  z-index: 100;
  background-color: #37474f9d;
  transition: ease all .3s;
  transition-delay: .2s;
  pointer-events: none;
  opacity: 0;
}

#winModalInner,
#loseModalInner {
  width: 80vw;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  position: absolute;
  height: max-content;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: scale(1);
  transition: all .5s ease;
  transition-delay: .2s;
  animation-delay: .5s;
  display: block;
  opacity: 0;
}

#winModalInner { background-color: var(--color-win);}
#loseModalInner { background-color: var(--color-lose);}

.modalPhrase {
  text-decoration: underline;
}

.popup { 
  animation: modalPop .5s forwards; 
  opacity: 1;
}

.lives {
  transition: ease-in-out all .3s;
  transition-delay: .1s;
}

.drop {
  transform: translateY(50px); 
  opacity: 0
}

@media (max-width: 600px) {
  .key {
    height: 30px;
    width: 30px;
  }

  #section {
    padding: 5px
  }
}